@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Quantico, sans-serif;
    color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #09191F;
}

h1 {padding-bottom: 20px;}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606364;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.button {
    background-color: #09191F;
    font-size: 18px;
    width: 125px;
    margin: 5px;
    padding: 6px 5px;
    border-radius: 6px;
    border-width: 2px;
    border-color: #b2c1c6;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #0d2a34;
    border-color: antiquewhite;
}

.hl-scores {
    padding-bottom: 10px;
}

.winner {
    padding-bottom: 10px;
    font-weight: 700;
}