@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Quantico, sans-serif;
}

.buttons {
    padding-bottom: 20px;
}

.hl-scores {
    padding-bottom: 10px;
}

.winner {
    padding-bottom: 10px;
    font-weight: 700;
}