@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Quantico, sans-serif;
    color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #09191F;
}

h1 {padding-bottom: 20px;}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606364;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.button {
    background-color: #09191F;
    font-size: 18px;
    width: 125px;
    margin: 5px;
    padding: 6px 5px;
    border-radius: 6px;
    border-width: 2px;
    border-color: #b2c1c6;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #123743;
    border-color: antiquewhite;
}

.winner {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: 700;
    min-width: 470px;
}

.hl-scores {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.scores-display {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.hlScoreHuman {
    display: flex;
    justify-content: center;
    width: 130px;
    font-weight: 700;
}

.showScoreHuman {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 60px;
}

.hlScoreComputer {
    display: flex;
    justify-content: center;
    width: 130px;
    font-weight: 700;
}

.showScoreComputer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 60px;
}